@use "sass:math";

.page-intro--about {
	.page-intro__accent {
		display: block;
	}
}

.about-facts {
	position: relative;
	overflow: hidden;
	background: url("@img/shared/decor/about-leave-1.webp") 0 0 / 20% auto no-repeat, url("@img/shared/decor/about-leave-2.webp") 100% 0 / 20% auto no-repeat;

	// about-facts__title
	&__title {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(8);
		max-width: rem(1124);
		margin: 0 auto rem(40);
		text-align: center;
		line-height: 1.2;
		color: $color-text;

		@media (min-width: $md4) {
			gap: rem(10);
			margin-bottom: rem(80);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(156);
		}
	}

	// about-facts__title-row
	&__title-row {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: rem(8) rem(12);
	}

	// about-facts__logo
	&__logo {
		display: block;
		width: rem(86);
		height: auto;
		flex-shrink: 0;

		@media (min-width: $md4) {
			width: rem(103);
		}
	}

	// about-facts__title-text
	&__title-text {
		max-width: rem(1008);
	}

	// about-facts__grid
	&__grid {
		position: relative;
		z-index: 1;
		--gutter-x: #{rem(21)};
		--gutter-y: #{rem(20)};
	}

	// about-facts__media
	&__media {
		overflow: hidden;
		height: 100%;
		border-radius: $radius-md;
	}
}

.about-fact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	padding: rem(24) rem(20) rem(32);
	border-radius: $radius-md;
	background: #f7f8f3;

	@media (min-width: $md4) {
		padding: rem(30) rem(32);
	}

	// about-fact__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(80);
		height: rem(80);
		margin-bottom: rem(28);
		border-radius: rem(50);
		background: $color-bg;
		flex-shrink: 0;

		@media (min-width: $md4) {
			width: rem(100);
			height: rem(100);
			margin-bottom: rem(40);
		}

		img {
			display: block;
			width: rem(40);
			height: rem(40);

			@media (min-width: $md4) {
				width: rem(50);
				height: rem(50);
			}
		}
	}

	// about-fact__title
	&__title {
		margin: 0 0 rem(16);
		font-size: rem(20);
		font-weight: 600;
		line-height: 1.2;
		color: $color-primary;

		@media (min-width: $md4) {
			margin-bottom: rem(25);
			font-size: rem(24);
		}
	}

	// about-fact__text
	&__text {
		font-size: rem(16);
		line-height: math.div(26, 16);
		color: $color-text;
	}
}

.about-philosophy {
	@media (min-width:$md4) {
		padding-top: rem(160);

	}

	// about-philosophy__panel
	&__panel {
		position: relative;
		padding: rem(28) rem(20) 0;
		border-radius: $radius-md;
		background-color: $color-soft-blue;
		background-image: url("@img/about/philosophy-pattern.svg");
		background-repeat: no-repeat;
		background-size: cover;

		background-position: center bottom;

		@media (min-width: $md4) {
			padding: rem(40) rem(36) 0;
		}

		@media (min-width: $md3) {
			background-size: 97% auto;
			background-position: right -8% top rem(-80);
			min-height: rem(406);
			padding: 0 rem(20);
			background-size: 96.9% 287.8%;
			background-position: 7.62% rem(-215);
		}
	}

	// about-philosophy__row
	&__row {
		position: relative;
		z-index: 1;

		@media (min-width: $md3) {
			align-items: flex-end;
		}
	}

	// about-philosophy__media
	&__media {
		max-width: rem(420);
		margin-inline: auto;
		order: 1;

		@media (min-width: $md3) {
			order: 0;
			flex: 0 0 auto;
			width: rem(513);
			max-width: 41%;
			margin-inline: 0;
			margin-top: calc(#{rem(406)} - 100% * #{math.div(588, 513)});
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	// about-philosophy__content
	&__content {
		@media (min-width: $md3) {
			padding: rem(57) 0 rem(48) rem(16);
		}

		@media (min-width: $md2) {
			padding: rem(57) rem(60) rem(56) rem(40);
			max-width: rem(811);
		}
	}

	// about-philosophy__title
	&__title {
		margin: 0 0 rem(20);
	}

	// about-philosophy__accent
	&__accent {
		display: block;
		color: $color-primary;
	}

	// about-philosophy__text
	&__text {
		margin: 0 0 rem(28);
		line-height: math.div(26, 16);

		@media (min-width: $md3) {
			margin-bottom: rem(43);
		}
	}

	// about-philosophy__author
	&__author {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	// about-philosophy__name
	&__name {
		font-size: rem(18);
		font-weight: 500;
		line-height: math.div(26, 18);
		color: $color-text;

		@media (min-width: $md4) {
			font-size: rem(20);
			line-height: math.div(26, 20);
		}
	}

	// about-philosophy__role
	&__role {
		font-size: rem(16);
		line-height: math.div(26, 16);
		color: $color-text;
	}
}