.breadcrumbs {
	position: relative;
	z-index: 3;
	padding: rem(16) 0 0;

	// breadcrumbs__list
	&__list {
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;
		white-space: nowrap;
		gap: 0.5rem;
	}

	// breadcrumbs__item
	&__item {
		display: inline-flex;
		align-items: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 0;
		line-height: 1.2;
		font-size: rem(14);
		font-weight: 400;

		&:not(:last-child) {
			flex-shrink: 0;
			overflow: visible;
			text-overflow: clip;

			&::after {
				content: "";
				display: inline-block;
				width: rem(4);
				height: rem(6);
				margin-left: 0.5rem;
				background: currentColor;
				opacity: 0.45;
				clip-path: polygon(0 0, 100% 50%, 0 100%);
			}
		}
	}

	// breadcrumbs__link
	&__link {
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--color-primary);

		&:is(a) {
			color: var(--color-text);
			transition: color 0.3s ease;

			@media (any-hover: hover) {
				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}
}
