@use "sass:math";

.faq {


	// faq__title
	&__title {
		margin: 0 0 rem(24);

		@media (min-width: $md4) {
			margin-bottom: rem(32);
		}

		&:has(+ .faq__lead) {
			margin-bottom: rem(12);
		}
	}

	// faq__lead
	&__lead {
		margin: 0 0 rem(28);
		line-height: math.div(26, 16);

		@media (min-width: $md4) {
			margin-bottom: rem(32);
		}
	}

	// faq__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(16);

	}

	// faq__item
	&__item {
		border-radius: rem(15);
		background: #f7f7f7;
		overflow: hidden;
		align-content: center;
		flex: 1 1 auto;

		&.is-open {
			.faq__question::before {
				transform: rotate(45deg);
			}

			.faq__answer {
				display: block;
			}
		}
	}

	// faq__question
	&__question {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(16);
		width: 100%;
		padding: rem(18) rem(20);
		background: transparent;
		text-align: left;
		cursor: pointer;
		color: $color-text;

		@media (min-width: $md4) {
			padding: rem(18) rem(32);
		}

		&::before {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			order: 1;
			width: rem(48);
			height: rem(48);
			border-radius: 50%;
			background: $color-primary;
			color: $color-white;
			font-size: rem(20);
			transition: transform 0.25s $ease-layout;

			@media (min-width: $md4) {
				width: rem(64);
				height: rem(64);
				font-size: rem(24);
			}
		}

		&:focus-visible {
			outline: none;
			box-shadow: $focus-ring;
		}
	}

	// faq__question-text
	&__question-text {
		font-size: rem(16);
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: rem(-0.5);
		color: $color-text;

		@media (min-width: $md4) {
			font-size: rem(18);
		}
	}

	// faq__answer
	&__answer {
		display: none;
		padding: 0 rem(20) rem(24);

		@media (min-width: $md4) {
			padding: 0 rem(32) rem(28);
			padding-right: rem(112);
		}

		p {
			line-height: math.div(26, 16);
		}
	}

	// faq__aside
	&__aside {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: fit-content;
		min-height: rem(240);

		padding: rem(28) rem(24);
		border-radius: $radius-md;
		background: #f7f8f3;

		@media (min-width: $md4) {
			min-height: rem(300);
			padding: rem(44) rem(28);
		}
	}

	// faq__aside-title
	&__aside-title {
		margin: 0 0 rem(16);
	}

	// faq__aside-text
	&__aside-text {
		margin: 0 0 rem(24);
		max-width: rem(220);
		line-height: 1.06;
	}
}