@use "sass:math";

.gifts {
	padding-block: rem(24);

	@media (min-width: $md4) {
		padding-block: rem(40);
	}

	// gifts__banner
	&__banner {
		position: relative;
		overflow: hidden;
		border-radius: rem(20);
		min-height: rem(373);
		background-image: url("@img/gift-banner-mobile.webp");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 70% center;
		color: $color-white;

		@media (min-width: $md4) {
			min-height: rem(320);
			background-position: center right;
		}

		@media (min-width: $md3) {
			background-image: url("@img/gift-banner.webp");
		}

		@media (min-width: $md2) {
			min-height: rem(394);
		}
	}

	// gifts__content
	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		min-height: rem(373);
		padding: rem(27) rem(22);

		@media (min-width: $md4) {
			justify-content: center;
			min-height: rem(320);
			padding: rem(40) rem(48);
		}

		@media (min-width: $md2) {
			min-height: rem(394);
			padding: rem(60) rem(30);
		}

		@media (min-width:$md1) {
			padding: rem(74) rem(68);

		}
	}

	// gifts__title
	&__title {
		max-width: rem(286);


		@media (min-width: $md4) {
			max-width: rem(523);
		}
	}

	// gifts__lead
	&__lead {
		margin: rem(23) 0 0;
		max-width: rem(180);


		@media (min-width: $md4) {
			margin-top: rem(17);
			max-width: rem(250);

		}
	}

	// gifts__btn
	&__btn {
		margin-top: auto;
		padding-top: rem(22);

		@media (min-width: $md4) {
			margin-top: rem(36);
			padding-top: 0;
		}
	}
}