@use "sass:math";

.page-intro {
	padding-bottom: rem(20);

	// page-intro__row
	&__row {
		@media (min-width: $md3) {
			align-items: center;
		}
	}

	// page-intro__content
	&__content {
		@media (max-width:$md3) {
			padding-top: 2rem;
		}

	}

	// page-intro__title
	&__title {
		margin-bottom: rem(24);

		@media (min-width: $md4) {
			margin-bottom: rem(36);
		}
	}

	// page-intro__accent
	&__accent {
		color: $color-primary;
	}

	// page-intro__text
	&__text {
		line-height: math.div(26, 16);
	}

	// page-intro__media
	&__media {
		margin-top: rem(24);

		&.page-intro__media--large {
			& img {
				@media (min-width:$md1) {
					margin-right: -2rem;
					width: calc(100% + 4rem);
					max-width: calc(100% + 4rem);
				}
			}
		}

		@media (min-width: $md3) {
			margin-top: 0;
		}

		img {
			display: block;
			height: auto;
			width: auto;
			margin-inline: auto;
		}
	}

	.benefits {
		margin-top: rem(32);

		@media (min-width: $md4) {
			margin-top: rem(48);
		}
	}
}