@use "sass:math";

.popular {
	padding-block: rem(32);

	@media (min-width: $md4) {
		padding-block: rem(48);
	}

	@media (min-width: $md2) {
		padding-block: rem(80);
	}

	// popular__title
	&__title {
		max-width: rem(400);
		margin-bottom: rem(24);

		@media (min-width: $md4) {
			margin-bottom: rem(40);
		}
	}

	// popular__slider-wrap
	&__slider-wrap {
		overflow: visible;

		@media (min-width: $md4) {
			overflow: hidden;
		}
	}

	// popular__slider-container
	&__slider-container {
		position: relative;
	}

	// popular__slider
	&__slider {
		overflow: visible;
		padding: 0 10px;
		margin: 0 -10px;

		@media (min-width: $md4) {
			overflow: hidden;
			padding: 0;
			margin: 0;
		}

		.swiper-slide {
			height: auto;
			width: rem(182);

			@media (min-width: $md4) {
				width: auto;
			}
		}

		.product-card {
			max-width: none;
			height: 100%;
		}
	}
}