<article class="article-card">
	<a href="@@link" class="article-card__media">
		<img class="cover-image" src="@@image" alt="@@image_alt" width="@@image_width" height="@@image_height" loading="lazy">
	</a>
	<div class="article-card__body">
		<h3 class="h3 article-card__title">
			<a href="@@link" class="article-card__title-link">@@title</a>
		</h3>
		<p class="text article-card__text">@@text</p>
		<a href="@@link" class="btn btn--primary btn--large article-card__btn icon-chevron-right">
			Читать далее
		</a>
	</div>
</article>
