<article class="blog-card">
	<div class="blog-card__media">
		<img
			src="@@image"
			alt="@@image_alt"
			width="@@image_width"
			height="@@image_height"
			loading="lazy"
		>
	</div>
	<div class="blog-card__body">
		<ul class="blog-card__meta">
			<li class="blog-card__meta-item">
				<span class="blog-card__meta-icon" aria-hidden="true">
					<img src="img/blog/eye.svg" alt="" width="24" height="24">
				</span>
				<span class="blog-card__meta-text">@@views</span>
			</li>
			<li class="blog-card__meta-item">
				<span class="blog-card__meta-icon" aria-hidden="true">
					<img src="img/blog/calendar.svg" alt="" width="24" height="24">
				</span>
				<span class="blog-card__meta-text">@@date</span>
			</li>
			<li class="blog-card__meta-item">
				<span class="blog-card__meta-icon blog-card__meta-icon--heart" aria-hidden="true">
					<img src="img/blog/heart.svg" alt="" width="19" height="17">
				</span>
				<span class="blog-card__meta-text">@@likes</span>
			</li>
		</ul>
		<h2 class="h2 blog-card__title">@@title</h2>
		<p class="text blog-card__text">@@text</p>
		<a class="btn btn--primary blog-card__btn" href="@@link">
			Читать далее
			<span class="btn__chevron" aria-hidden="true">
				<img src="fonts/iconfont/chevron-right-sm.svg" alt="" width="12" height="7">
			</span>
		</a>
	</div>
</article>
