<article class="blog-card">
	<div class="blog-card__media">
		<img
			src="@@image"
			alt="@@image_alt"
			width="@@image_width"
			height="@@image_height"
			loading="lazy"
		>
	</div>
	<div class="blog-card__body">
		<ul class="blog-card__meta">
			<li class="blog-card__meta-item">
				<span class="blog-card__meta-icon icon-eye" aria-hidden="true"></span>
				<span class="blog-card__meta-text">@@views</span>
			</li>
			<li class="blog-card__meta-item">
				<span class="blog-card__meta-icon icon-calendar" aria-hidden="true"></span>
				<span class="blog-card__meta-text">@@date</span>
			</li>
			<li class="blog-card__meta-item">
				<span class="blog-card__meta-icon blog-card__meta-icon--heart icon-heart" aria-hidden="true"></span>
				<span class="blog-card__meta-text">@@likes</span>
			</li>
		</ul>
		<h2 class="h2 blog-card__title">@@title</h2>
		<p class="text blog-card__text">@@text</p>
		<a class="btn btn--primary blog-card__btn icon-chevron-right" href="@@link">
			Читать далее
		</a>
	</div>
</article>
