<div class="custom-select @@if(typeof skin !== 'undefined' && skin){custom-select--@@skin}@@if(typeof skin === 'undefined' || !skin){custom-select--@@mod}">
	<label class="visually-hidden" for="@@id">@@label</label>
	<select class="custom-select__native" id="@@id" name="@@name" tabindex="-1" aria-hidden="true">
		@@if(mod === 'catalog'){
		<option value="popular" selected>По популярности</option>
		<option value="price-asc">Сначала дешевле</option>
		<option value="price-desc">Сначала дороже</option>
		<option value="name">По названию</option>
		}
		@@if(mod === 'vacancies'){
		<option value="date" selected>По дате</option>
		<option value="salary-desc">По зарплате: по убыванию</option>
		<option value="salary-asc">По зарплате: по возрастанию</option>
		<option value="name">По названию</option>
		}
	</select>
	<button type="button" class="custom-select__trigger @@icon" aria-haspopup="listbox" aria-expanded="false" aria-controls="@@id-list">
		<span class="custom-select__value">@@placeholder</span>
	</button>
	<ul class="custom-select__list" id="@@id-list" role="listbox" tabindex="-1" hidden>
		@@if(mod === 'catalog'){
		<li class="custom-select__option is-selected" role="option" value="popular" aria-selected="true" tabindex="-1">По популярности</li>
		<li class="custom-select__option" role="option" value="price-asc" aria-selected="false" tabindex="-1">Сначала дешевле</li>
		<li class="custom-select__option" role="option" value="price-desc" aria-selected="false" tabindex="-1">Сначала дороже</li>
		<li class="custom-select__option" role="option" value="name" aria-selected="false" tabindex="-1">По названию</li>
		}
		@@if(mod === 'vacancies'){
		<li class="custom-select__option is-selected" role="option" value="date" aria-selected="true" tabindex="-1">По дате</li>
		<li class="custom-select__option" role="option" value="salary-desc" aria-selected="false" tabindex="-1">По зарплате: по убыванию</li>
		<li class="custom-select__option" role="option" value="salary-asc" aria-selected="false" tabindex="-1">По зарплате: по возрастанию</li>
		<li class="custom-select__option" role="option" value="name" aria-selected="false" tabindex="-1">По названию</li>
		}
	</ul>
</div>
