<div class="header-catalog header__menu-panel" id="header-catalog">
  <div class="container header-catalog__container">
    <div class="header-catalog__panel">
      <div class="row">
        <div class="col-12 col-md-4 col-xl-5 header-catalog__col header-catalog__col--categories">
          <h2 class="header-catalog__title icon-leaf">
            Категории товаров
          </h2>
          <ul class="header-catalog__list">
            <li>
              <a class="header-catalog__link" href="#">
                <img class="header-catalog__link-icon" src="@img/icons/shower-gel.svg" alt="Гели для душа" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Гели для душа</span>
              </a>
            </li>
            <li>
              <a class="header-catalog__link" href="#">
                <img class="header-catalog__link-icon" src="@img/icons/soap.svg" alt="Мыло" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Мыло</span>
              </a>
            </li>
            <li>
              <a class="header-catalog__link" href="#">
                <img class="header-catalog__link-icon" src="@img/icons/shampoo.svg" alt="Шампуни" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Шампуни</span>
              </a>
            </li>
            <li>
              <a class="header-catalog__link" href="#">
                <img class="header-catalog__link-icon" src="@img/icons/spray.svg" alt="Уборка" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Уборка</span>
              </a>
            </li>
            <li>
              <a class="header-catalog__link" href="#">
                <img class="header-catalog__link-icon" src="@img/icons/laundry.svg" alt="Стирка" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Стирка</span>
              </a>
            </li>
            <li class="header-catalog__item--desktop">
              <a class="header-catalog__link" href="#">
                <img class="header-catalog__link-icon" src="@img/icons/gift.svg" alt="Подарочные наборы" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Подарочные наборы</span>
              </a>
            </li>
            <li>
              <a class="header-catalog__link" href="#">
                <img class="header-catalog__link-icon" src="@img/icons/grid.svg" alt="Вся продукция" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Вся продукция</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-4 header-catalog__col header-catalog__col--buyers">
          <h2 class="header-catalog__title icon-box">
            Полезное для покупателя
          </h2>
          <ul class="header-catalog__list">
            <li>
              <a class="header-catalog__link" href="where-to-buy.html">
                <img class="header-catalog__link-icon" src="@img/icons/map-pin.svg" alt="Где купить" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Где купить</span>
              </a>
            </li>
            <li>
              <a class="header-catalog__link" href="delivery.html">
                <img class="header-catalog__link-icon" src="@img/icons/truck.svg" alt="Доставка и оплата" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Доставка и оплата</span>
              </a>
            </li>
            <li>
              <a class="header-catalog__link" href="#">
                <img class="header-catalog__link-icon" src="@img/icons/reviews.svg" alt="Отзывы" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Отзывы</span>
              </a>
            </li>
            <li>
              <a class="header-catalog__link" href="blog.html">
                <img class="header-catalog__link-icon" src="@img/icons/blog.svg" alt="Блог" width="22" height="22" loading="lazy">
                <span class="header-catalog__link-text">Блог</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-4 col-xl-3 header-catalog__promo" style="background-image: url('@img/catalog-banner.webp');">
          <p class="header-catalog__promo-title">Чистота, которой <span>доверяет семья</span></p>
          <p class="header-catalog__promo-text">Экологичные средства для дома на каждый день</p>
          <a class="btn btn--primary btn--large header-catalog__promo-btn icon-chevron-right" href="#">
            Перейти в каталог
          </a>
        </div>
      </div>
    </div>
  </div>
</div>