<div class="header-catalog header__menu-panel" id="header-catalog">
  <div class="container header-catalog__container">
    <div class="header-catalog__panel">
      <div class="row">
      <div class="col-12 col-md-5 header-catalog__col header-catalog__col--categories">
        <h2 class="header-catalog__title icon-leaf">
          Категории товаров
        </h2>
        <ul class="header-catalog__list">
          <li>
            <a class="header-catalog__link icon-drop" href="#">
              <span class="header-catalog__link-thumb">
                <img src="@img/header/categories/gel.png" alt="Гели для душа KIPNI" width="36" height="36" loading="lazy">
              </span>
              <span class="header-catalog__link-text">Гели для душа</span>
            </a>
          </li>
          <li>
            <a class="header-catalog__link icon-drop" href="#">
              <span class="header-catalog__link-thumb">
                <img src="@img/header/categories/soap.png" alt="Мыло KIPNI" width="36" height="36" loading="lazy">
              </span>
              <span class="header-catalog__link-text">Мыло</span>
            </a>
          </li>
          <li>
            <a class="header-catalog__link icon-drop" href="#">
              <span class="header-catalog__link-thumb">
                <img src="@img/header/categories/shampoo.png" alt="Шампуни KIPNI" width="36" height="36" loading="lazy">
              </span>
              <span class="header-catalog__link-text">Шампуни</span>
            </a>
          </li>
          <li>
            <a class="header-catalog__link icon-molecule" href="#">
              <span class="header-catalog__link-thumb">
                <img src="@img/header/categories/cleaning.png" alt="Средства для уборки KIPNI" width="36" height="36" loading="lazy">
              </span>
              <span class="header-catalog__link-text">Уборка</span>
            </a>
          </li>
          <li>
            <a class="header-catalog__link icon-box" href="#">
              <span class="header-catalog__link-thumb">
                <img src="@img/header/categories/laundry.png" alt="Средства для стирки KIPNI" width="36" height="36" loading="lazy">
              </span>
              <span class="header-catalog__link-text">Стирка</span>
            </a>
          </li>
          <li class="header-catalog__item--desktop">
            <a class="header-catalog__link icon-box" href="#">
              <span class="header-catalog__link-text">Подарочные наборы</span>
            </a>
          </li>
          <li>
            <a class="header-catalog__link icon-grid" href="#">
              <span class="header-catalog__link-thumb">
                <img src="@img/header/categories/all-products.png" alt="Вся продукция KIPNI" width="36" height="36" loading="lazy">
              </span>
              <span class="header-catalog__link-text">Вся продукция</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4 header-catalog__col header-catalog__col--buyers">
        <h2 class="header-catalog__title icon-box">
          Полезное для покупателя
        </h2>
        <ul class="header-catalog__list">
          <li>
            <a class="header-catalog__link icon-location" href="where-to-buy.html">
              <span class="header-catalog__link-text">Где купить</span>
            </a>
          </li>
          <li>
            <a class="header-catalog__link icon-truck" href="delivery.html">
              <span class="header-catalog__link-text">Доставка и оплата</span>
            </a>
          </li>
          <li>
            <a class="header-catalog__link icon-star" href="#">
              <span class="header-catalog__link-text">Отзывы</span>
            </a>
          </li>
          <li>
            <a class="header-catalog__link icon-certificate" href="blog.html">
              <span class="header-catalog__link-text">Блог</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-3 header-catalog__promo" style="--header-catalog-promo-image: url('@img/header/catalog-promo.png');">
        <p class="header-catalog__promo-title">Чистота, которой доверяет семья</p>
        <p class="header-catalog__promo-text">Экологичные средства для дома на каждый день</p>
        <a class="btn btn--primary header-catalog__promo-btn icon-chevron-right" href="#">
          Перейти в каталог
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
