<div class="swiper-slide hero-slide@@if (typeof modifier !== 'undefined' && modifier) { @@modifier}" style="--hero-slide-image: url('../@@image');@@if (typeof image_mobile !== 'undefined' && image_mobile) { --hero-slide-image-mobile: url('../@@image_mobile');}">
	<div class="container hero-slide__container">
		<div class="hero-slide__content">
			<@@heading class="h1 hero-slide__title">
				@@title
				<span class="hero-slide__accent">@@accent</span>
			</@@heading>
			<p class="hero-slide__lead">@@lead</p>
			<div class="hero-slide__actions">
				<a class="btn btn--primary btn--large@@if (typeof primary_icon !== 'undefined' && primary_icon) { @@primary_icon}" href="@@primary_href">
					@@primary_text
				</a>
				<a class="btn btn--ghost" href="@@secondary_href">@@secondary_text</a>
			</div>
			<ul class="hero-slide__features">
				<!-- fileinclude -->
				@@for (var i = 0; i < features.length; i++) {
				@@include('hero-feature.html', {
					"title": "`+features[i].title+`",
					"text": "`+features[i].text+`",
					"icon_src": "`+features[i].icon_src+`"
				})
				}
				<!-- fileinclude -->
			</ul>
		</div>
	</div>
</div>