<nav class="pagination" aria-label="Пагинация">
	<a class="pagination__nav pagination__nav--prev icon-chevron-right" href="#">
		<span class="pagination__nav-text">Назад</span>
	</a>
	<ul class="pagination__list">
		<li class="pagination__item">
			<a class="pagination__link" href="#">1</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link is-active" href="#" aria-current="page">2</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link" href="#">3</a>
		</li>
	</ul>
	<a class="pagination__nav pagination__nav--next icon-chevron-right" href="#">
		<span class="pagination__nav-text">Далее</span>
	</a>
</nav>
