<nav class="pagination" aria-label="Пагинация">
	<a class="pagination__nav pagination__nav--prev" href="#">
		<span class="pagination__nav-icon" aria-hidden="true">
			<img src="@img/blog/arrow-next.svg" alt="Далее" width="6" height="12">
		</span>
		<span class="pagination__nav-text">Назад</span>
	</a>
	<ul class="pagination__list">
		<li class="pagination__item">
			<a class="pagination__link" href="#">1</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link is-active" href="#" aria-current="page">2</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link" href="#">3</a>
		</li>
	</ul>
	<a class="pagination__nav pagination__nav--next" href="#">
		<span class="pagination__nav-text">Далее</span>
		<span class="pagination__nav-icon" aria-hidden="true">
			<img src="@img/blog/arrow-next.svg" alt="Далее" width="6" height="12">
		</span>
	</a>
</nav>