<article class="product-card">
	<div class="product-card__head">
		@@if (typeof badge !== 'undefined' && badge) {
		<span class="badge @@badge_mod">@@badge</span>
		}
		<!-- fileinclude -->
			<button
			type="button"
			class="product-card__favorite icon-heart@@if(typeof favorited !== 'undefined' && favorited){ is-active}"
			@@if(typeof favorited !== 'undefined' && favorited){
				aria-pressed="true"
				aria-label="Убрать из избранного"
			}
			@@if(typeof favorited === 'undefined' || !favorited){
				aria-pressed="false"
				aria-label="Добавить в избранное"
			}
			>
		</button>
		<!-- fileinclude -->
	</div>
	<a href="@@link" class="product-card__media">
		<img src="@@image" alt="@@image_alt" width="200" height="200" loading="lazy">
	</a>
	<div class="product-card__body">
		<h3 class="h4 product-card__title"><a href="@@link" class="product-card__title-link">@@title</a></h3>
		@@if (typeof volume !== 'undefined' && volume) {
		<p class="text text-muted product-card__volume">@@volume</p>
		}
		@@if (typeof rating !== 'undefined' && rating) {
		<div class="text--sm product-card__rating icon-star">
			<span class="product-card__rating-value">@@rating</span>
			@@if (typeof reviews !== 'undefined' && reviews) {
			<span class="text-muted product-card__rating-count">(@@reviews)</span>
			}
		</div>
		}
		<div class="product-card__footer">
			<a href="@@link" class="more-link product-card__link icon-chevron-right">Подробнее</a>
		</div>
	</div>
</article>