<article class="promo-card" style="--promo-card-image: url('@@image');">
	<div class="promo-card__head">
		<p class="promo-card__date icon-calendar">
			<span class="promo-card__date-text">Акция действует до @@until</span>
		</p>
		<span class="promo-card__badge" aria-hidden="true">
			<img src="@img/shared/ui/gift.svg" alt="Подарок" width="40" height="40" loading="lazy">
		</span>
	</div>
	<h3 class="h2 promo-card__title">@@title</h3>
	<p class="text promo-card__text">@@text</p>
	<a class="btn btn--primary promo-card__btn" href="@@link">Подробнее</a>
</article>