@use "sass:math";

.footer {
	position: relative;
	background: #fcfbfb;
	padding-block: rem(60) rem(40);
	overflow: clip;

	@media (min-width: $md2) {
		padding-block: rem(46) rem(40);
	}

	// footer__container
	&__container {
		position: relative;
		z-index: $ui-index-2;

		@media (max-width:$md5) {
			padding-inline: 2rem;
		}
	}

	// footer__main
	&__main {
		--gutter-y: #{rem(46)};

		@media (min-width: $md2) {
			--gutter-y: #{rem(0)};
		}
	}

	// footer__brand
	&__brand {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: rem(8);

		@media (min-width: $md2) {
			align-items: flex-start;
			align-self: stretch;
			height: 100%;
			text-align: left;
			margin-bottom: 0;
			padding-right: rem(16);
		}
	}

	// footer__logo
	&__logo {
		display: inline-flex;
		width: rem(173);
		max-width: 100%;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	// footer__tagline
	&__tagline {
		max-width: rem(260);
		margin-top: rem(20);
		font-size: rem(14);
		font-weight: 400;
		line-height: math.div(17, 14);
		color: $color-muted;

		@media (min-width: $md2) {
			margin-top: rem(20);
			font-size: rem(16);
			line-height: math.div(19, 16);
		}
	}

	// footer__col
	&__col {
		@media (min-width: $md2) {
			padding-top: rem(4);
		}
	}

	// footer__title
	&__title {
		margin-bottom: rem(20);
		font-family: $font-golos, sans-serif;
		font-size: rem(18);
		font-weight: 500;
		line-height: math.div(20, 18);
		color: $color-text;

		@media (min-width: $md2) {
			margin-bottom: rem(24);
			font-size: rem(20);
			line-height: math.div(22, 20);
		}
	}

	// footer__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(18);

		@media (min-width:$md4) {
			gap: rem(16);

		}
	}

	// footer__link
	&__link {
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(19, 16);
		color: $color-muted;
		transition: color 0.2s ease;


		@media (any-hover: hover) {
			&:hover {
				color: $color-primary;
			}
		}
	}

	// footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	// footer__phone
	&__phone {
		font-size: rem(18);
		font-weight: 600;
		line-height: math.div(20, 18);
		color: $color-primary;
		transition: opacity 0.2s ease;

		@media (min-width: $md2) {
			font-size: rem(20);
			line-height: math.div(22, 20);
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}

	// footer__hours
	&__hours {
		margin-top: rem(8);
		font-size: rem(12);
		font-weight: 400;
		line-height: math.div(14, 12);
		color: $color-muted;

		@media (min-width: $md2) {
			font-size: rem(14);
			line-height: math.div(17, 14);
		}
	}

	// footer__email
	&__email {
		margin-top: rem(16);
		font-size: rem(16);
		font-weight: 500;
		line-height: math.div(18, 16);
		color: $color-text;
		transition: color 0.2s ease;

		@media (min-width: $md2) {
			margin-top: rem(20);
			font-size: rem(18);
			line-height: math.div(20, 18);
		}

		@media (any-hover: hover) {
			&:hover {
				color: $color-primary;
			}
		}
	}

	// footer__socials
	&__socials {
		display: flex;
		align-items: center;
		gap: rem(8);
		margin-top: rem(30);

		@media (min-width:$md4) {
			margin-top: rem(16);

		}
	}

	// footer__social
	&__social {
		position: relative;
		z-index: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		border: 1px solid $color-primary;
		border-radius: 50%;
		font-size: rem(16);
		line-height: 1;
		color: $color-primary;
		transition: background-color 0.2s ease, box-shadow 0.2s ease;
		width: rem(44);
		height: rem(44);

		@media (min-width:$md4) {
			width: rem(38);
			height: rem(38);
		}

		@media (min-width: $md2) {
			width: rem(40);
			height: rem(40);
		}

		&.icon-vk {
			font-size: 0.75rem;

			@media (any-hover: hover) {
				&:hover {
					background: #0077ff;
					border-color: #0077ff;
				}
			}
		}

		&.icon-max {
			&::after {
				content: '';
				position: absolute;
				inset: -2px;
				z-index: -1;
				border-radius: 50%;
				background: linear-gradient(309deg, #0cf -6.06%, #007aff 33.55%, #630eff 65.79%, #aa4cff 96.45%);
				opacity: 0;
				transition: all 0.3s ease;
			}

			@media (any-hover: hover) {
				&:hover {
					&::after {
						opacity: 1;
					}

					background: transparent;
					border-color: transparent;
				}
			}
		}

		&.icon-telegram {
			@media (any-hover: hover) {
				&:hover {
					background: #0088CC;
					border-color: #0088CC;
				}
			}
		}

		@media (any-hover: hover) {
			&:hover {
				background: $color-primary;
				border-color: $color-primary;
				color: #fff;
			}
		}

		&:focus-visible {
			outline: none;
			box-shadow: $focus-ring;
		}
	}

	// footer__btn
	&__btn {
		margin-top: rem(20);

		@media (min-width: $md2) {
			margin-top: rem(24);
		}
	}

	// footer__legal
	&__legal {
		display: flex;
		flex-direction: column;
		gap: rem(24);

		// footer__legal--desktop
		&--desktop {
			display: none;
			margin-top: auto;
			padding-top: rem(60);
			text-align: left;
			align-items: flex-start;

			@media (min-width: $md2) {
				display: flex;
			}
		}

		// footer__legal--mobile
		&--mobile {
			align-items: center;
			text-align: center;
			margin-bottom: rem(32);

			@media (min-width: $md2) {
				display: none;
			}
		}
	}

	// footer__legal-link
	&__legal-link {
		font-size: rem(14);
		font-weight: 500;
		line-height: math.div(17, 14);
		color: $color-primary;
		text-decoration: underline;
		text-underline-offset: rem(2);
		transition: opacity 0.2s ease;

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.75;
			}
		}
	}

	// footer__bottom
	&__bottom {
		margin-top: rem(60);
		text-align: center;

		@media (min-width: $md2) {
			margin-top: rem(56);
		}
	}

	// footer__copy
	&__copy {
		font-size: rem(14);
		font-weight: 400;
		line-height: math.div(17, 14);
		color: rgba(115, 115, 115, 0.5);

		@media (min-width: $md2) {
			font-size: rem(16);
			line-height: math.div(19, 16);
		}
	}

	&::after {
		content: "";
		display: none;

		@media (min-width: $md2) {
			display: block;
			position: absolute;
			right: rem(24);
			top: rem(76);
			z-index: $ui-index-1;
			width: rem(130);
			height: rem(130);
			pointer-events: none;
			user-select: none;
			background-image: url("@img/footer/leaf-deco.webp");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		@media (min-width: $md0) {
			right: rem(80);
			width: rem(163);
			height: rem(163);
		}
	}
}