@font-face {
  font-family: "icons";
  font-display: block;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

%ic {
  font-family: "icons";  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

.icon-arrows-minimize:before {
  content: "\e919";
}

.icon-location:before {
  content: "\e900";
}

.icon-envelope:before {
  content: "\e901";
}

.icon-phone:before {
  content: "\e902";
}

.icon-filter:before {
  content: "\e903";
}

.icon-minus:before {
  content: "\e904";
}

.icon-calendar:before {
  content: "\e905";
}

.icon-eye:before {
  content: "\e906";
}

.icon-arrows-maximize:before {
  content: "\e907";
}

.icon-cross:before {
  content: "\e908";
}

.icon-plus:before {
  content: "\e909";
}

.icon-telegram:before {
  content: "\e90a";
}

.icon-max:before {
  content: "\e90b";
}

.icon-vk:before {
  content: "\e90c";
}

.icon-prev:before {
  content: "\e90d";
}

.icon-next:before {
  content: "\e90e";
}

.icon-star:before {
  content: "\e90f";
}

.icon-check:before {
  content: "\e910";
}

.icon-heart-fill:before {
  content: "\e911";
}

%icon-chevron-right {
  content: "\e912";
}

.icon-chevron-right:before {
  @extend %icon-chevron-right;
}

.icon-chevron-down:before {
  @extend %icon-chevron-right;
  transform: rotate(90deg);
}

.icon-heart:before {
  content: "\e913";
}

.icon-shopping-cart:before {
  content: "\e914";
}

.icon-grid:before {
  content: "\e915";
}

.icon-cross-circle:before {
  content: "\e916";
}

.icon-search:before {
  content: "\e917";
}

.icon-file:before {
  content: "\e918";
}

.icon-burger:before {
  content: "\e91a";
}

.icon-menu:before {
  content: "\e91b";
}

.icon-shop:before {
  content: "\e91c";
}

.icon-leaf:before {
  content: "\e91d";
}

.icon-drop:before {
  content: "\e91e";
}

.icon-molecule:before {
  content: "\e91f";
}

.icon-box:before {
  content: "\e920";
}

.icon-truck:before {
  content: "\e921";
}

.icon-certificate:before {
  content: "\e922";
}

.icon-home:before {
  content: "\e923";
}

.icon-people:before {
  content: "\e924";
}

.icon-user:before {
  content: "\e925";
}